# Node
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Rails
/log/*
/tmp/*
.bundle/
db/*.sqlite3
db/*.sqlite3-journal-
public/assets

# OS
.DS_Store
Thumbs.db
