@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #10b981;
  --color-accent: #6366f1;
  --font-sans: "Inter", "sans-serif";
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}